<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <title>{{ page.title | default: site.title }}</title>
    {% feed_meta %}
  </head>

  <body>
    <div class="wrapper">
      <header>
        <a href="{{ "/" | relative_url }}"><h1>{{ site.title | escape }}</h1></a>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><a href="{{ "/" | relative_url }}">nckrlf.com</a> / <a href="https://www.twitter.com/nckrlf"><img class="svg-icon" src="/assets/twit.svg">@nckrlf</a></p>
      </footer>
    </div>
  </body>

</html>
